@import "variables"

@mixin bordes
    border-top-left-radius: $border
    border-bottom-right-radius: $border

@mixin flotante
    position: -webkit-sticky
    position: sticky
    top: 0

@mixin flex
    display: flex
    flex-direction: row

@mixin marginUD
    margin-top: $margin-UpDown
    margin-bottom: $margin-UpDown

    
    
    
    

    