@import "variables"
@import "mixin"
*
  font-family: 'Montserrat','Brawler'
  color: $color1

body
  background-color: $color5
  margin-left: $margin-left-body
  margin-right: $margin-right-body
  margin-top: 0%

h1, h2, h3, h4
  text-transform: uppercase

h3
  color: $color3

header
  width: 100%
  text-align: center

.navi a
  color: $color5
  text-transform: uppercase

a:hover
  color: $color4

.navi
  @include bordes
  border: $color1 5px solid
  background-color: $color1
  display: flex
  justify-content: space-evenly
  @include flotante
  z-index: 97

.navegacion
  display: none

.contenido
  @include flex
  flex-wrap: wrap
  justify-content: center

  article
    background-color: $fondo
    text-align: justify
    width: 95%
    border: $color4 1px solid
    @include bordes
    padding: 20px
    @include marginUD

.segundaNoticia img
  float: left

.circular--square
  border-radius: $border-img-artist

footer
  clear: both
  border: $color2 5px solid
  @include bordes
  background-color: $color3
  z-index: 99
  position: relative

  h3
    color: $color4

.imgF
  text-align: right

  img
    margin-right: $margin-UpDown
    margin-left: $margin-UpDown
    margin-bottom: $margin-UpDown

footer nav
  border: $color2 5px solid
  border-bottom-right-radius: $borderFooterNav
  background-color: $color2

  a
    color: $color4

    &:hover
      color: $color5

@media screen and (min-width: 600px)
  .primera_noticia
    width: 450px
    height: 250px
    
@media screen and (min-width: 936px)
  .contenedor
    @include flex
    flex-wrap: nowrap
    justify-content: space-between

  .navegacion
    display: flex
    flex-direction: column
    text-align: center
    margin-top: $margin-UpDown
    width: $width-nav
    height: 0%
    background-color: $color3
    border: $color4 1px solid
    z-index: 98
    @include bordes 
    @include flotante

    h2:hover
      color: $color5

  main
    @include flex
    flex-wrap: wrap
    width: $width-contenido
    @include marginUD
  .primera_noticia
    width: 600px
    height: 300px