* {
  font-family: 'Montserrat','Brawler';
  color: #2A3237;
}
.boton-subir{
  display: none;
  background: #00974B;
  border: thin solid #fff;
  border-radius: 3px;
  position: fixed;
  right: 15px;
  bottom:2px;
  z-index: 999999999;
}
/*evento hover*/
.boton-subir:hover{
  box-shadow:   0px 2px 10px 0px rgba(255, 255, 255, 0.75);
}
/*estilos para el tag i*/
.boton-subir i{
  color: #fff;
  font-size: 1.5em;
  padding: 10px 10px 10px 7px;
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}
h3 a{
  text-decoration: none;
  color: #53838F ;
}
h2 a{
  color: #2A3237;
}
video{
  width: 460px;
    height:340px;
}
.formulario{
  margin-top: 50px;
    margin-bottom: 50px;
  border: #8AC0BB 1px solid;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  padding: 20px;
}
.body {
  background: url("../imagenes/abstract-2829963_1920.png");
  margin-left: 10%;
  margin-right: 12%;
  margin-top: 0%;
}

h1, h2, h3, h4,h5,h6 {
  text-transform: uppercase;
}

h3 {
  color: #53838F;
}
.card-subtitle{
  margin-top: 10px;
}

header {
  width: 100%;
  text-align: center;
}

.navi a {
  text-decoration: none;
  color: #F2F2EB;
  text-transform: uppercase;
  padding: 20px;
}
.navi form{
  padding: 20px;
}
.naviContacta a {
  color: #F2F2EB;
  text-transform: uppercase;
  padding: 20px;
  text-decoration: none;
  display: flex;
  flex-wrap: nowrap;
}
.body a:hover {
  color: #8AC0BB;
}

.navi {
  
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: #2A3237 5px solid;
  background-color: #2A3237;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}
.naviContacta{
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: #2A3237 5px solid;
  background-color: #2A3237;
  display: flex;
  justify-content: space-evenly;
  top: 0;
}

.navegacion {
  display: none;
}


.contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
          
}

.contenido article {
  background-color: white;
  text-align: justify;
  width: 100%;
  border: #8AC0BB 1px solid;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.contenido article .card-body{
  padding:0px;
}
.contenido article .card-subtitle{
  padding-top: 10px;
}

.segundaNoticia img {
  float: left;
}

.circular--square {
  border-radius: 50%;
}

.footer {
  clear: both;
  border: #435A6E 5px solid;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #53838F;
  z-index: 99;
  position: relative;
}
.footer a{
  text-decoration: none;
  color: #8AC0BB;
  text-transform: uppercase;
}
.footer a:hover{
  color:#435A6E;
}
.footer h6 {
  color: #8AC0BB;
}

.imgF {
  text-align: right;
}

.imgF img {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 30px;
  width:40px; 
  height:40px;
}

.footer nav {
  border: #435A6E 5px solid;
  border-bottom-right-radius: 12px;
  background-color: #435A6E;
}

.footer nav a {
  color: #8AC0BB;
}

.footer nav a:hover {
  color: #F2F2EB;
}
video{
  width:100%;
  max-width:600px;
  }
  .navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }

@media screen and (min-width: 600px) {
  .primera_noticia {
    width: 450px;
    height: 250px;
  }
  .imgF img{
    width:75px; 
    height:75px;
  }
  .naviContacta a {
    
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 936px) {
  video{
    width: 650px;
      height:340px;
  }
  .contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
  }
  .navegacion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-top: 30px;
    width: 15%;
    height: 0%;
    background-color: #53838F;
    border: #8AC0BB 1px solid;
    z-index: 99;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .navegacion h2{
    font-size:25px;
    margin: 8px;
  }
  .navegacion h2:hover {
    color: #F2F2EB;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 75%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .primera_noticia {
    width: 570px;
    height: 300px;
  }
}
/*# sourceMappingURL=plaza.css.map */