*{
font-family: 'Montserrat','Brawler';
color: #2A3237;
}
body{
    background-color: #F2F2EB;
    margin-left: 10%;
    margin-right: 12%;
    margin-top: 0%;
}
h1,h2,h3,h4{
  text-transform: uppercase;
}
h3{
    color:#53838F;
}

header{
    width: 100%;
    text-align: center;
}
.navi a{
    
    color: #F2F2EB;
    text-transform: uppercase;
}
a:hover{
    color: #8AC0BB;
}
.navi{
  border: #2A3237 5px solid;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #2A3237;
  
  display: flex;
  justify-content: space-evenly;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 97;
}
.navegacion{
  display: none;
}
.contenido{
    display: flex;
    flex-direction: row ;    
    flex-wrap: wrap;  
    justify-content: center;  
}
.primera_noticia{
  width: 300px;
  height: 250px;
}
.contenido article{
    background-color: white;
    text-align: justify;
    width: 95%;
    border: #8AC0BB 1px solid;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding:20px;
    margin-top: 30px;
    margin-bottom: 30px;
}




.segundaNoticia img{
    float: left;
}
.circular--square {
    border-radius: 50%;
  }


  
  footer{
      clear: both;
    border: #435A6E 5px solid;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #53838F;
    z-index: 99;
    position: relative;
  }
  footer h3{
      color: #8AC0BB;
  }
.imgF{
      text-align: right;
  }
.imgF img{
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}
  footer  nav{
    border: #435A6E 5px solid;
    border-bottom-right-radius: 12px;
    background-color: #435A6E;
  }
  footer nav a {
    color: #8AC0BB;
  }footer nav a:hover{
    color: #F2F2EB;
  }


  @media screen and (min-width:600px){
  .primera_noticia{
    width: 450px;
    height: 250px;
  }
  }
  @media screen and (min-width:936px){
    .contenedor{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
    .navegacion{
      display: flex;
      flex-direction: column;
      text-align: center;
      

        margin-top:30px;
        width: 15%;
        height: 0%;
        background-color: #53838F;
        border: #8AC0BB 1px solid;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 98;
    }
    .navegacion h2:hover{
      color: #F2F2EB;
  }
  main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    margin-top: 30px;
      margin-bottom: 30px;
  }
    .primera_noticia{
      width: 600px;
      height: 300px;
    }
  }



  